<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    
    {{- partial "opengraph.html" . -}}

    <meta name="author" content="{{ .Site.Params.author }}" />
    <meta name="description" content="{{ .Site.Params.description }}" />

    <!-- Google Fonts - Petrona -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ "css/styles.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}" />

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

<script src="{{ "js/custom-init-darkmode.js" | relURL }}" defer></script>
    <script src="{{ "js/custom-darkmode.js" | relURL }}" defer></script>
    <script src="{{ "js/footnotes.js" | relURL }}" defer></script>
</head>
